* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #09122C;
  color: #16283a;
  line-height: 1.6;
  /* padding-top: 50px; */
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #BE3144;
  color: 09122C;
  text-align: center;
  padding: 50px 0;
}

header h1 {
  font-size: 250%;
}

header p {
  font-size: 100%;
  margin-top: 10px;
}

section {
  padding: 40px 0;
}

h2 {
  text-align: center;
  font-size: 180%;
  color: #BE3144;
  margin-bottom: 20px;
}

#about p {
  color: #BE3144;
  font-size: 100%;
  text-align: center;
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

#skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

#skills li {
  background-color: #872341;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 100%;
  transition: background-color 0.3s;
  transition: transform 0.3s;
}

#skills li:hover {
  background-color: #E17564;
  transform: translateY(-2px);
}

.project-card {
  background-color: #872341;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card h3 {
  font-size: 160%;
  margin-bottom: 10px;
  color: rgb(255, 177, 8);
}

.project-card p {
  margin-bottom: 10px;
  color: #E17564;
  font-style: italic;
}

#contact p {
  color: #E17564;
  text-decoration: none;
}

#contact a {
  color: #1C54E6;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}


footer {
  background-color: #BE3144;
  color: #09122C;
  text-align: center;
  padding: 20px 0;
}

footer p {
  font-size: 100%;
}

